<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{static_url("css/semantic.min.css")}}">
    <script src="{{static_url("js/semantic.min.js")}}"></script>
    <title>Delete Page</title>
</head>
<body>
        <h2>是否删除一下信息？</h2>
<form method='post' name='delete' id='delete' class='form ui'>
    <table class='table ui'>
    <tr><td>手机名称：</td><td>{{data[1]}}</td></tr>
    <tr><td>价格：</td><td>{{data[2]}}</td></tr>
    <tr><td>评分：</td><td>{{data[3]}}</td></tr>

     <tr><td><input type='radio' name='deleteornot'value='1' class='radio ui'>确认删除</input>
            <input type='radio' name='deleteornot'value='0' class='radio ui'>取消</input></td></tr>
            </table>
        <input type='submit' value='提交' class='button ui'></input>
</form>

</body>
</html>